<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【打卡详情】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>记录编号：</label>
                                <input type="text" id="recordId" name="recordId" th:value="${recordId}"/>
                                <input type="hidden" id="recordId" th:value="${recordId}"/>
                            </li>

                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="addList()" shiro:hasPermission="sign:list:add">
                    <i class="fa fa-plus"></i> 签到
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="sign:list:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sign:list:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sign:list:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('sign:list:edit')}]];
        var removeFlag = [[${@permission.hasPermi('sign:list:remove')}]];
        var prefix = ctx + "sign/list";
        var recordId = $("#recordId").val();
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【打卡详情】",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'signRecordId',
                    title: '打卡心得',
                    visible: false
                },
                {
                    field: 'habitName',
                    title: '习惯名称'
                },
                {
                    field: 'signDurationHour',
                    title: '打卡时长',
                    width:10,
                    formatter: function(value, row, index) {
                        return value+"小时";
                    }
                },
                {
                    field: 'signDurationMinute',
                    title: '',
                    align:'left',
                    formatter: function(value, row, index) {
                        return value+"分";
                    }
                },
                {
                    field: 'signExperience',
                    title: '打卡心得'
                },
                {
                    field: 'startTime',
                    title: '打卡时间段',
                    align: 'right',
                    formatter: function(value, row, index) {
                        var timeArr = value.replace(" ", ":").replace(/\:/g, "-").split("-");
                        var shi = timeArr[3];
                        var fen = timeArr[4];
                        var miao = timeArr[5];
                        return shi + ":" + fen + ":" + miao;
                    }
                },
                    {
                        field: 'endTime',
                        title: '',
                        align: 'left',
                        formatter: function(value, row, index) {
                            var timeArr = value.replace(" ", ":").replace(/\:/g, "-").split("-");
                            var shi = timeArr[3];
                            var fen = timeArr[4];
                            var miao = timeArr[5];
                            return shi + ":" + fen + ":" + miao;
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.signRecordId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.signRecordId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function addList() {
            table.set();
            $.modal.open("添加" + table.options.modalName, $.operate.addUrl(recordId));
           // $.operate.get(prefix + "/add/" + recordId);
        }
    </script>
</body>
</html>