<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sports.mapper.SportsActivityMapper">
    
    <resultMap type="SportsActivity" id="SportsActivityResult">
        <result property="id"    column="id"    />
        <result property="number"    column="number"    />
        <result property="name"    column="name"    />
        <result property="introduction"    column="introduction"    />
        <result property="personNumber"    column="person_number"    />
        <result property="picUrl"    column="picUrl"    />
        <result property="address"    column="address"    />
        <result property="slogan"    column="slogan"    />
        <result property="createTime"    column="createTime"    />
        <result property="createBy"    column="createBy"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="updateBy"    column="updateBy"    />
        <result property="remark"    column="remark"    />
        <result property="delflag"    column="delflag"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectSportsActivityVo">
        select id, number, name, introduction, person_number, picUrl, address, slogan, createTime, createBy, updateTime, updateBy, remark, delflag, type from sports_activity
    </sql>

    <select id="selectSportsActivityList" parameterType="SportsActivity" resultMap="SportsActivityResult">
        <include refid="selectSportsActivityVo"/>
        <where>  
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="personNumber != null "> and person_number = #{personNumber}</if>
            <if test="picUrl != null  and picUrl != ''"> and picUrl = #{picUrl}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="slogan != null  and slogan != ''"> and slogan = #{slogan}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="createBy != null  and createBy != ''"> and createBy = #{createBy}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and updateBy = #{updateBy}</if>
            <if test="delflag != null  and delflag != ''"> and delflag = #{delflag}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectSportsActivityById" parameterType="Long" resultMap="SportsActivityResult">
        <include refid="selectSportsActivityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSportsActivity" parameterType="SportsActivity" useGeneratedKeys="true" keyProperty="id">
        insert into sports_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">number,</if>
            <if test="name != null">name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="personNumber != null">person_number,</if>
            <if test="picUrl != null">picUrl,</if>
            <if test="address != null">address,</if>
            <if test="slogan != null">slogan,</if>
            <if test="createTime != null">createTime,</if>
            <if test="createBy != null">createBy,</if>
            <if test="updateTime != null">updateTime,</if>
            <if test="updateBy != null">updateBy,</if>
            <if test="remark != null">remark,</if>
            <if test="delflag != null">delflag,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">#{number},</if>
            <if test="name != null">#{name},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="personNumber != null">#{personNumber},</if>
            <if test="picUrl != null">#{picUrl},</if>
            <if test="address != null">#{address},</if>
            <if test="slogan != null">#{slogan},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delflag != null">#{delflag},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateSportsActivity" parameterType="SportsActivity">
        update sports_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null">number = #{number},</if>
            <if test="name != null">name = #{name},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="personNumber != null">person_number = #{personNumber},</if>
            <if test="picUrl != null">picUrl = #{picUrl},</if>
            <if test="address != null">address = #{address},</if>
            <if test="slogan != null">slogan = #{slogan},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="createBy != null">createBy = #{createBy},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
            <if test="updateBy != null">updateBy = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delflag != null">delflag = #{delflag},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSportsActivityById" parameterType="Long">
        delete from sports_activity where id = #{id}
    </delete>

    <delete id="deleteSportsActivityByIds" parameterType="String">
        delete from sports_activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>