<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sign.mapper.SignListMapper">
    
    <resultMap type="SignList" id="SignListResult">
        <result property="signRecordId"    column="sign_record_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="habitId"    column="habit_id"    />
        <result property="signDurationHour"    column="sign_duration_hour"    />
        <result property="signDurationMinute"    column="sign_duration_minute"    />
        <result property="signExperience"    column="sign_experience"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectSignListVo">
        select sign_record_id, record_id, habit_id, sign_duration_hour, sign_duration_minute, sign_experience, start_time, end_time from sign_list
    </sql>

    <select id="selectSignListList" parameterType="SignList" resultMap="SignListResult">
        <include refid="selectSignListVo"/>
        <where>  
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="habitId != null "> and habit_id = #{habitId}</if>
            <if test="signDurationHour != null "> and sign_duration_hour = #{signDurationHour}</if>
            <if test="signDurationMinute != null "> and sign_duration_minute = #{signDurationMinute}</if>
            <if test="signExperience != null  and signExperience != ''"> and sign_experience = #{signExperience}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectSignListById" parameterType="Long" resultMap="SignListResult">
        <include refid="selectSignListVo"/>
        where sign_record_id = #{signRecordId}
    </select>
        
    <insert id="insertSignList" parameterType="SignList" useGeneratedKeys="true" keyProperty="signRecordId">
        insert into sign_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="habitId != null">habit_id,</if>
            <if test="signDurationHour != null">sign_duration_hour,</if>
            <if test="signDurationMinute != null">sign_duration_minute,</if>
            <if test="signExperience != null">sign_experience,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="habitId != null">#{habitId},</if>
            <if test="signDurationHour != null">#{signDurationHour},</if>
            <if test="signDurationMinute != null">#{signDurationMinute},</if>
            <if test="signExperience != null">#{signExperience},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
         </trim>
    </insert>

    <update id="updateSignList" parameterType="SignList">
        update sign_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="habitId != null">habit_id = #{habitId},</if>
            <if test="signDurationHour != null">sign_duration_hour = #{signDurationHour},</if>
            <if test="signDurationMinute != null">sign_duration_minute = #{signDurationMinute},</if>
            <if test="signExperience != null">sign_experience = #{signExperience},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
        </trim>
        where sign_record_id = #{signRecordId}
    </update>

    <delete id="deleteSignListById" parameterType="Long">
        delete from sign_list where sign_record_id = #{signRecordId}
    </delete>

    <delete id="deleteSignListByIds" parameterType="String">
        delete from sign_list where sign_record_id in 
        <foreach item="signRecordId" collection="array" open="(" separator="," close=")">
            #{signRecordId}
        </foreach>
    </delete>

</mapper>