<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.specific.mapper.RandomPicMapper">
    
    <resultMap type="RandomPic" id="RandomPicResult">
    	<id     property="id"      column="id"      />
        <result property="number"    column="number"    />
        <result property="picUrl"     column="pic_url"     />
        <result property="serviceUrl"     column="service_url"     />
        <result property="uploadUrl"     column="upload_url"     />
        <result property="name"     column="name"     />
        <result property="type"     column="type"     />
        <result property="picshow"     column="picshow"     />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    
    <sql id="selectRandomPicVo">
        select id,number,pic_url, service_url,upload_url,name,type,picshow, create_by, create_time, update_by, update_time  
		from random_pic 
    </sql>
    
    <!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test="id !=null">
				and id = #{id}
			</if>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="name !=null and name != ''">
				and name = #{name}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
		</where>
	</sql>
    
    <select id="selectRandomPic" parameterType="Integer" resultMap="RandomPicResult">
        <include refid="selectRandomPicVo"/>
        where id = #{id} 
    </select>
    
    <select id="selectRandomPicList" parameterType="RandomPic" resultMap="RandomPicResult">
        <include refid="selectRandomPicVo"/>
		<where>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="name !=null and name != ''">
				and name = #{name}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
		</where>
		order by create_time 
    </select>
    
    <select id="RandomPicIdList" parameterType="RandomPic" resultType="String">
        select id from random_pic 
		<where>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="name !=null and name != ''">
				and name = #{name}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
		</where>
		order by create_time 
    </select>
    
    
    
    
    
    <insert id="insertRandomPic" parameterType="RandomPic">
        insert into random_pic (
			<if test="number != null and number != '' ">number,</if>
			<if test="picUrl != null and picUrl != '' ">pic_url,</if>
			<if test="serviceUrl != null and serviceUrl != '' ">service_url,</if>
			<if test="uploadUrl != null and uploadUrl != '' ">upload_url,</if>
			<if test="name != null and name != '' ">name,</if>
			<if test="type != null and type != '' ">type,</if>
			<if test="picshow != null and picshow != '' ">picshow,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
        )values(
			<if test="number != null and number != ''">#{number},</if>
			<if test="picUrl != null and picUrl != ''">#{picUrl},</if>
			
			<if test="serviceUrl != null and serviceUrl != ''">#{serviceUrl},</if>
			<if test="uploadUrl != null and uploadUrl != ''">#{uploadUrl},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="type != null and type != ''">#{type},</if>
			<if test="picshow != null and picshow != ''">#{picshow},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateRandomPic" parameterType="RandomPic">
        update random_pic 
        <set>
            <if test="number != null and number != ''">number = #{number},</if>
            <if test="picUrl != null and picUrl != ''">pic_url = #{picUrl},</if>
            
            <if test="serviceUrl != null and serviceUrl != ''">service_url = #{serviceUrl},</if>
            <if test="uploadUrl != null and uploadUrl != ''">upload_url = #{uploadUrl},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="picshow != null and picshow != ''">picshow = #{picshow},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
        </set>
        where id = #{id} 
    </update>
	
    <delete id="deleteRandomPics" parameterType="String">
        delete from random_pic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        	#{id}
        </foreach>
    </delete>
    
    <delete id="deleteRandomPic" parameterType="int">
        delete from random_pic where id = #{id} 
    </delete>
    
</mapper>