<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.specific.mapper.RandomTextMapper">
    
    <resultMap type="RandomText" id="RandomTextResult">
    	<id     property="id"      column="id"      />
        <result property="number"    column="number"    />
        <result property="content"     column="content"     />
        <result property="type"     column="type"     />
        <result property="cType"     column="c_type"     />
        <result property="articleId"     column="article_id"     />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    
    <sql id="selectRandomTextVo">
        select id,number,content,type,c_type,article_id,create_by, create_time, update_by, update_time  
		from random_text 
    </sql>
    
    <!-- 查询条件 -->
	<sql id="sqlwhereSearch">
		<where>
			<if test="id !=null">
				and id = #{id}
			</if>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="content !=null and content != ''">
				and content = #{content}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
			<if test="cType !=null and cType != ''">
				and c_type = #{cType}
			</if>
		</where>
	</sql>
    
    <select id="selectRandomText" parameterType="Integer" resultMap="RandomTextResult">
        <include refid="selectRandomTextVo"/>
        where id = #{id} 
    </select>
    
    <select id="selectRandomTextList" parameterType="RandomText" resultMap="RandomTextResult">
        <include refid="selectRandomTextVo"/>
		<where>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="content !=null and content != ''">
				and content = #{content}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
			<if test="cType !=null and cType != ''">
				and c_type = #{cType}
			</if>
			
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by create_time 
    </select>
    
    
     <select id="RandomTextIdList" parameterType="RandomText" resultType="String">
        select id from random_text 
		<where>
			<if test="number !=null and number != ''">
				and number = #{number}
			</if>
			<if test="content !=null and content != ''">
				and content = #{content}
			</if>
			<if test="type !=null and type != ''">
				and type = #{type}
			</if>
			<if test="cType !=null and cType != ''">
				and c_type = #{cType}
			</if>
		</where>
		
    </select>
    
    
    
    
    
    <insert id="insertRandomText" parameterType="RandomText">
        insert into random_text (
			<if test="number != null and number != '' ">number,</if>
			<if test="content != null and content != '' ">content,</if>
			<if test="type != null and type != '' ">type,</if>
			<if test="cType != null and cType != '' ">c_type,</if>
			<if test="articleId != null and articleId != '' ">article_id,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
 			create_time
        )values(
			<if test="number != null and number != ''">#{number},</if>
			<if test="content != null and content != ''">#{content},</if>
			<if test="type != null and type != ''">#{type},</if>
			<if test="cType != null and cType != ''">#{cType},</if>
			<if test="articleId != null and articleId != ''">#{articleId},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateRandomText" parameterType="RandomText">
        update random_text 
        <set>
            <if test="number != null and number != ''">number = #{number},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="cType != null and cType != ''">c_type = #{cType},</if>
            <if test="articleId != null and articleId != ''">article_id = #{articleId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			update_time = sysdate()
        </set>
        where id = #{id}
    </update>
	
    <delete id="deleteRandomTexts" parameterType="String">
        delete from random_text where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        	#{id}
        </foreach>
    </delete>
    
    <delete id="deleteRandomText" parameterType="int">
        delete from random_text where id = #{id} 
    </delete>
    
</mapper>